In [1]:
import pandas as pd

# Mission 1

Display the first 10 rows [of the following file](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv). Store the DataFrame in `df`.

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv",sep=",")
df.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

# Mission 2

Sort your dataframe in ascending order according to the star_rating column.
[This resource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html).

First expected rows:

In [3]:
df.sort_values("star_rating", axis = 0, ascending = True)

# Other possible solution : df.sort_values(by=['star_rating'])

,star_rating,title,content_rating,genre,duration,actors_list
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
...,...,...,...,...,...,...
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

# Mission 3

Answer the question below:
- What is the median star rating? [This ressource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html) - *expected result: 7.8*

- What is the genre of the most highly rated film? [This ressource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html) - *expected result: Crime*

- How many (in percentage) of films belong to each genre? [This ressource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

*First expected rows:*

In [4]:
# Median of the star rating column
df["star_rating"].median()

7.8

In [5]:
# Genre of the most highly rated film
df.loc[df['star_rating'].idxmax(), "genre"]

# Other possible solution :
# df.loc[df['star_rating']== df['star_rating'].max()][['genre']]

# Other possible solution :
# df['genre'] [df['star_rating'] == df['star_rating'].max()]

# Other possible solution :
# print(df[['star_rating', 'genre']][df.star_rating == df.star_rating.max()])

'Crime'

In [6]:
df.loc[df['star_rating'] > df['star_rating'].mean()][['genre']]

       genre
0      Crime
1      Crime
2      Crime
3     Action
4      Crime
..       ...
464   Comedy
465   Comedy
466    Crime
467  Mystery
468   Family

[469 rows x 1 columns]

In [7]:
# Percentage of films per genre
df["genre"].value_counts(normalize=True)*100

# Other possible solution :
# df.groupby(["genre"])["title"].count().sort_values(ascending=False) / df["title"].count().sum()*100

# Other possible solution :
# (df['genre'].value_counts())/df['genre'].count()*100

# Other possible solution :
# df.groupby('genre').size()/df['star_rating'].count()*100

Drama        28.396323
Comedy       15.934627
Action       13.891726
Crime        12.665986
Biography     7.865169
Adventure     7.660878
Animation     6.332993
Horror        2.962206
Mystery       1.634321
Western       0.919305
Sci-Fi        0.510725
Thriller      0.510725
Film-Noir     0.306435
Family        0.204290
History       0.102145
Fantasy       0.102145
Name: genre, dtype: float64

# Mission 4

Display only the rows with films that belong to the lowest rated genre (based on the average rating of the films in this genre)
[This resource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.mean.html)

In [8]:
# Average rating per genre
df.groupby(["genre"])["star_rating"].mean().round(2)

# Other possible solution :
#df.groupby('genre').mean().sort_values('star_rating')

genre
Action       7.88
Adventure    7.93
Animation    7.91
Biography    7.86
Comedy       7.82
Crime        7.92
Drama        7.90
Family       7.85
Fantasy      7.70
Film-Noir    8.03
History      8.00
Horror       7.81
Mystery      7.98
Sci-Fi       7.92
Thriller     7.68
Western      8.26
Name: star_rating, dtype: float64

In [9]:
# Genre with minimum average rating
df.groupby(["genre"])["star_rating"].mean().idxmin()

'Thriller'

In [10]:
# Display only the rows with films that belong to the lowest rated genre
genre_rating = df.groupby(["genre"])["star_rating"].mean().round(2)
df2 = df.merge(genre_rating, on='genre',suffixes=('', '_avg'))
df2[
    df2['star_rating_avg']==df2['star_rating_avg'].min()
    ]

# Other possible solution :
# genre_low = df.groupby('genre').star_rating.mean()
# df[df['genre'] == genre_low.index[genre_low.argmin()]]

# Other possible solution :
df[df.genre.isin((df.groupby("genre").star_rating.mean().nsmallest(1)).index)]

,star_rating,title,content_rating,genre,duration,actors_list
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
496,7.8,Misery,R,Thriller,107,"[u'James Caan', u'Kathy Bates', u'Richard Farn..."
728,7.6,La piel que habito,R,Thriller,120,"[u'Antonio Banderas', u'Elena Anaya', u'Jan Co..."
848,7.5,The Man Who Knew Too Much,PG,Thriller,120,"[u'James Stewart', u'Doris Day', u'Brenda de B..."
902,7.5,Frenzy,R,Thriller,116,"[u'Jon Finch', u'Barry Foster', u'Alec McCowen']"

# Mission 5

Display films which are longer than 200 minutes **and** which belong to a genre with a name containing the letter 'h' (either lower case or upper case).

You should get only one film: `Malcolm X`

In [11]:
# Films longer than 200 min
df.loc[(df['duration'] > 200)]

,star_rating,title,content_rating,genre,duration,actors_list
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [12]:
# genre with a name containing the letter 'h' (lower or upper)
df.loc[df['genre'].astype(str).str.contains("h|H")]

,star_rating,title,content_rating,genre,duration,actors_list
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
31,8.6,The Intouchables,R,Biography,112,"[u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ..."
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi..."
42,8.5,The Pianist,R,Biography,150,"[u'Adrien Brody', u'Thomas Kretschmann', u'Fra..."
...,...,...,...,...,...,...
913,7.5,Suspiria,X,Horror,92,"[u'Jessica Harper', u'Stefania Casini', u'Flav..."
930,7.4,Man on the Moon,R,Biography,118,"[u'Jim Carrey', u'Danny DeVito', u'Gerry Becker']"
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."

In [13]:
# Films longer than 200 min AND genre with a name containing the letter 'h' (lower or upper)
df.loc[((df['duration'] > 200)) & (df['genre'].astype(str).str.contains("h|H"))]

,star_rating,title,content_rating,genre,duration,actors_list
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."

# Mission 6

Which **actor trio** is mentioned most often in the entire dataframe?

You should get : `'Daniel Radcliffe', 'Emma Watson', 'Rupert Grint'`

In [16]:
df.loc[:,['actors_list']].value_counts(ascending=False).head(1)

actors_list
[u'Daniel Radcliffe', u'Emma Watson', u'Rupert Grint']    6
dtype: int64

In [15]:
df['actors_list'].mode()

0    [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
Name: actors_list, dtype: object