In [2]:
import pandas as pd
import numpy as np
link = "https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/weather2019.csv"
df_weather = pd.read_csv(link)

In [3]:
df_weather.head()

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,WINDTEMP_MAX_C,WEATHER_CODE_MORNING,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION,MONTH,DAY
0,2019-01-01,9,4,10,4,7,8,0.2,94,9.0,...,3,116,143,176,0,1,5.1,very bad,1,1
1,2019-01-02,8,5,18,7,7,5,0.0,90,9.0,...,3,119,116,116,0,1,8.7,very bad,1,2
2,2019-01-03,6,0,18,0,4,3,0.0,88,10.0,...,-4,116,116,116,0,1,8.7,very bad,1,3
3,2019-01-04,5,-1,15,-1,4,3,0.0,91,10.0,...,-4,116,116,122,0,1,5.1,very bad,1,4
4,2019-01-05,6,-1,8,-1,4,3,0.0,91,8.0,...,-2,143,116,116,0,1,8.7,very bad,1,5

PIVOT TABLE

There are 2 syntaxes, choose your preferred :

As a method : YOUR_DATAFRAME.pivot_table()
As a function : pd.crosstab()

In [4]:
df_weather.pivot_table(values = 'MAX_TEMPERATURE_C', index = 'MONTH', aggfunc = 'mean')

       MAX_TEMPERATURE_C
MONTH
1               8.161290
2              12.750000
3              13.064516
4              14.900000
5              16.870968
6              22.166667
7              26.806452
8              25.290323
9              22.533333
10             16.935484
11             11.300000
12             10.677419

In [5]:
# Other syntax:
pd.crosstab(values = df_weather['MAX_TEMPERATURE_C'],
            index = df_weather['MONTH'], columns ="",
            aggfunc = 'mean')

col_0
MONTH
1       8.161290
2      12.750000
3      13.064516
4      14.900000
5      16.870968
6      22.166667
7      26.806452
8      25.290323
9      22.533333
10     16.935484
11     11.300000
12     10.677419

Create a Pivot table with :

- Months on rows
- the maximum of Max Temperature on values
- Opinion on columns

In [6]:
df_weather.pivot_table(values = 'PRECIP_TOTAL_DAY_MM', index = 'DAY', columns ='MONTH')

MONTH    1     2     3     4     5     6     7    8     9     10    11    12
DAY
1       0.2   7.3   0.0   2.0   6.0   0.0   1.0  0.0   0.0   5.7  14.5   0.0
2       0.0   1.0   4.9   1.8   0.4   0.0   0.0  0.0   0.0   0.2  11.0   0.0
3       0.0   0.0   5.4   5.2   0.5   0.5   0.0  0.0   0.0   0.3  30.0   0.0
4       0.0  18.6  11.1   1.1   0.6   6.3   0.0  0.0   0.3   1.1   4.2   0.0
5       0.0   0.8   1.1  10.1   0.3   1.5   0.6  0.1   0.0   0.4   8.0   0.0
6       0.0   9.4  47.6   6.1   0.0   2.7   7.5  4.4   0.0   1.5   1.1   0.3
7       0.0   4.0   3.4   3.0   1.2  27.3   1.7  0.1   0.2   4.3  11.4   0.4
8       0.2   1.6   0.2   1.6  17.8   3.4   0.0  0.0   0.0   3.9   3.2   9.1
9       0.0   6.3   5.3   0.8   4.4   4.0   0.0  5.5   8.4   2.6  10.1   0.6
10      0.1  29.1   1.2   1.9   1.7   2.7   0.0  0.2   7.6   0.5   2.1   0.9
11      0.2   0.1   0.1   0.1   2.0   3.4   0.0  1.1   0.0   0.0   3.8   5.9
12      0.0   0.0   4.2   0.0   0.0   5.1   0.2  2.4   0.0   0.0   1.8  18.2
13      0.1   0.0   0.9   0.0   0.0   2.3   0.0  0.0   0.0   1.6   4.8   2.2
14      0.1   0.0   0.5   2.3   0.0   0.0   0.0  0.8   0.0   2.7  11.2   4.8
15      0.0   0.0   1.1   6.2   0.0   0.6   0.0  0.7   0.0   1.2   2.3   5.0
16      1.3   0.0   0.5  12.3   0.0   0.3   0.0  0.0   0.0  13.1  10.3  16.1
17      1.2   0.0   5.0   0.0   4.6   0.0   0.0  7.3   0.0   1.3   0.0   2.6
18      0.1   0.9   1.1   0.0   6.0   0.0   0.0  9.9   0.0   5.3   0.0   0.0
19      4.4   2.5   1.0   0.0   3.6   0.9   0.0  0.5   0.0   7.7   0.0  31.0
20      0.2   0.0   0.6   1.6   7.0   0.0   2.1  0.0   0.0   1.2   0.0  35.1
21      0.0   0.0   0.1   7.8   0.8   0.5   0.0  0.0   0.2   1.1  16.0  16.4
22      9.8   0.0   0.0   6.0   1.8   0.0   0.0  0.0   6.9   1.5   8.5   3.0
23      1.3   0.0   0.0   2.7   7.5   0.0   0.0  0.0   1.4   9.9   3.8   9.0
24      2.4   0.0   0.1  18.9   1.6  14.1   0.0  0.0  24.1   9.5   2.7  16.7
25      4.6   0.0   0.1   4.4   0.5   0.9   0.8  0.0   2.0   0.8   8.6   0.0
26      2.1   0.0   0.0   2.0   0.5   0.0  16.3  0.0   0.5   0.0   9.7   0.2
27      5.9   0.0   0.0   1.4   1.4   0.0   2.8  0.2   1.3   4.6   3.8   0.0
28      2.6   0.9   0.0   0.4   1.2   0.0   0.0  0.0   1.1   1.7   1.9   0.0
29     15.1   NaN   0.1   0.0   0.2   0.0   1.2  0.0   5.3   2.3   0.1   0.0
30      2.0   NaN   2.5   0.0   0.0   0.7   6.1  0.0   0.8   3.2  13.7   0.0
31      4.3   NaN   5.3   NaN   0.0   NaN   0.3  0.0   NaN   8.9   NaN   0.1

Pivot table with :

- Months on rows
- the sum of Precipitations on values

Then display it as a column chart. (optionnal)

In [7]:
#import matplotlib.pyplot as plt

In [8]:
df_precipitation = df_weather.pivot_table(values = 'PRECIP_TOTAL_DAY_MM', index = 'MONTH',  aggfunc = 'sum')
print(df_precipitation)
#df_precipitation.plot(kind='bar', figsize=(15,5), rot=0, title = 'Precipitation en mm')

       PRECIP_TOTAL_DAY_MM
MONTH
1                     58.2
2                     82.5
3                    103.4
4                     99.7
5                     71.6
6                     77.2
7                     40.6
8                     33.2
9                     60.1
10                    98.1
11                   198.6
12                   177.6

In [10]:
#df_weather.pivot_table(values = 'PRECIP_TOTAL_DAY_MM', index = 'MONTH',  aggfunc = 'sum').plot.bar()

Pivot table with :

- Months on rows
- the average of Max Temperature on a first column of values
- the average of Sunhours on a second column of values

In [11]:
df_weather.pivot_table(index=["MONTH"],values=["MAX_TEMPERATURE_C","SUNHOUR"],
               aggfunc={"MAX_TEMPERATURE_C":np.mean,"SUNHOUR":np.mean},fill_value=0)

       MAX_TEMPERATURE_C    SUNHOUR
MONTH
1               8.161290   5.709677
2              12.750000   8.346429
3              13.064516   9.077419
4              14.900000   9.533333
5              16.870968  11.809677
6              22.166667  14.170000
7              26.806452  14.141935
8              25.290323  11.135484
9              22.533333   9.683333
10             16.935484   7.151613
11             11.300000   5.063333
12             10.677419   5.912903

Chart

Using your favorite library (MatPlotLib, Seaborn, Plotly or what you want), draw a chart from the previous pivot table with :

- Temperature in a blue column chart
- Sunhours in a red line plot

Tip : Once your pivot table created, you can help yourself with the .reset_index() method.

In [13]:
#import matplotlib.pyplot as plt
# First I reset the index to build my chart based on this dataframe
#df_max_temp_sunhour = pd.pivot_table(df_weather,index=["MONTH"],values=["MAX_TEMPERATURE_C","SUNHOUR"],
#               aggfunc={"MAX_TEMPERATURE_C":np.mean,"SUNHOUR":np.mean},fill_value=0)
#df_max_temp_sunhour_db = df_max_temp_sunhour.reset_index()

#df_max_temp_sunhour_db

In [15]:
#plt.title("Temperatures et durÃ©e d'ensoleillement")
#plt.ylabel("")
#x = df_max_temp_sunhour_db["MONTH"]
#y = df_max_temp_sunhour_db["MAX_TEMPERATURE_C"]
#plt.bar(x, y, label = 'Temp max')
#x = df_max_temp_sunhour_db["MONTH"]
#y = df_max_temp_sunhour_db["SUNHOUR"]
#plt.plot(x, y, c= 'red', label = 'Ensoleillemnt')
#plt.legend(loc="upper left")